/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container_all {
  max-width: 1920px;
  margin: 10px auto;
  height: auto;
}
header {
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  color: rgb(6, 6, 6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 10px;
}
video {
  width: 50%;
  height: auto;
}
.logo {
  width: 20%;
  border-radius: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo h1 {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.sign_div {
  width: 20%;
  display: flex;
  justify-content: right;
  gap: 30px;
}
.btn_sign {
  position: relative;
  height: 30px;
  border: none;
  border-radius: 5px;

  font-size: 18px;
  color: rgb(0, 0, 0);
  width: 100px;
}
.btn_sign:hover {
  background: orange;
}
.container_navbar2 {
  display: none;
}
.navbar {
  background-color: #000000;
  color: #fff;
  padding: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: left 0.3s ease;
  z-index: 2;
  opacity: 0.8;
}
#open-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
}
#close-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 5px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 120px;
}

.navbar li {
  display: inline;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.navbar ul li ul {
  position: absolute;
  left: 120px;
  top: 0;
  display: none;
  width: 180px;
}
.navbar ul li a:hover {
  border-bottom: 1px solid red;
}
.navbar ul li ul li {
  display: block;
}
.navbar ul li ul li a:hover {
  border-bottom: 1px solid red;
}
.navbar ul li:hover ul {
  display: block;
}
.navbar ul li .open {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
}

#nav-toggle:checked + .navbar {
  left: 0;
}
.close {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
}

#nav-toggle:checked + .navbar .close {
  display: block;
}
#nav-toggle:checked + .navbar .open {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
.search_container {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 1;
}

input {
  width: 20%;
  height: 50px;
  border-bottom: 1px solid rgb(91, 94, 94);
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}
#searchimg {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 35px;
  top: 10px;
  opacity: 0.7;
}
/*navbar 1 header //////////////////////////*/
.container_navbar1 {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  margin-top: 10px;
}

.navbar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar1 ul {
  display: flex;
  list-style: none;
}

.navbar1 ul li a {
  color: white;
  font-size: 20px;
  padding: 20px;
}
.navbar1 ul li a:hover {
  color: #333;
}
.navbar1 ul li ul li a {
  padding: 10px;
  font-size: 16px;
  color: black;
}

.navbar1 ul li ul {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 60%;
  height: auto;
  border-top: 1px solid black;
  margin-top: 10px;
  flex-wrap: wrap;
  z-index: 3;
  background: white;
}

.navbar1 ul li ul li:hover {
  background: orange;
}
.navbar1 ul li ul li a:hover {
  color: white;
}
.navbar1 ul li ul li {
  padding: 10px;
}
.navbar1 ul li ul li {
  display: none;
}
.navbar1 ul li:hover ul li {
  display: block;
}
/* MAIN QISM -------------------------------------------------------
-----------------------------------------*/
main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}

.sidebar {
  border: 1px solid grey;
  width: 250px;
  background: white;
}

.sidebar_link {
  width: 100%;
  height: auto;
  background: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.link {
  text-decoration: none;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.link:hover {
  color: rgb(218, 206, 206);
  background: rgb(105, 105, 105);
}
.container_boxses {
  position: relative;
  width: 90%;
}
.container {
  background: transparent;
  width: 100%;
  overflow-y: scroll;
  height: 1200px;
}

.taskdiv {
  position: absolute;
  display: none;
  width: 60%;
  background: white;
  box-shadow: 0 5px 10px grey;
  right: 20px;
  top: 50px;
  padding: 30px;
  z-index: 2;
}
#col {
  background: green;
}

#alert {
  color: rgb(219, 14, 14);
}
#task-p {
  background: rgb(31, 31, 30);
  font-size: 24px;
  color: white;
}
#natija {
  color: grey;
}
#matn {
  color: green;
}
#let {
  color: blue;
}
.task-btn {
  width: 100px;
  height: 30px;
  box-shadow: 0 5px 10px grey;
  color: rgb(12, 11, 11);
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.title {
  display: flex;
  flex-direction: column;
}
.title h1 {
  width: 200px;
  text-align: center;
  color: rgb(43, 7, 3);
  text-align: justify;
  margin-bottom: 20px;
}
.title h3 {
  height: 50px;
  padding: 10px;
  background: rgb(35, 34, 34);
  text-align: center;
  color: rgb(255, 255, 255);
  width: 250px;
  font-size: 20px;
  border-radius: 10px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.title p {
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: justify;
  max-width: 90%;
}

.box {
  border: 1px solid #ddd;
  padding: 20px;
  position: relative;
}
#button1 {
  position: absolute;
  background-color: #333333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
  right: 10px;
}
.box img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
  border-top-right-radius: 100px;
}
.content {
  position: relative;
  border-top: 20px solid rgb(11, 11, 11);
  height: 250px;
  width: 100%;
  margin: auto;
  background: rgb(38, 37, 37);
  padding: 5px 20px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}
.content.show {
  opacity: 1;
  height: auto;
}
#run {
  position: absolute;
  width: 8%;
  height: 30px;
  right: 5px;
  bottom: 5px;
  outline: none;
  background: rgb(12, 235, 5);
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 2;
}
#run:hover {
  background: rgb(176, 156, 156);
}
#editableText {
  direction: ltr;
  unicode-bidi: bidi-override;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
  color: rgb(253, 253, 255);
  font-size: 20px;
  font-weight: bold;
}

/*reklaman uchun */

/*footeererrererer*/
footer {
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 300px;
}

@media only screen and (max-width: 978px) {
  .content {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .container_boxses {
    width: 100%;
  }
  input {
    width: 40%;
  }
  .sign_div {
    padding: 4px;
  }
  .btn_sign {
    font-size: 14px;
  }
}
/* Responsive Styles */
@media only screen and (max-width: 800px) {
  video {
    display: none;
  }
  .sign_div {
    width: 50%;
  }
  .navbar1 ul li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 650px) {
  .container_navbar1 {
    display: none;
  }
  .sign_div {
    display: none;
  }
  header {
    height: 100px;
    box-shadow: 0 5px 10px grey;
  }
  .search_container {
    margin-top: 5px;
  }
  .container_navbar2 {
    display: block;
  }
  input {
    width: 70%;
  }
  .taskdiv {
    width: 70%;
    top: 55px;
  }
  #task-p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  input {
    width: 100%;
  }

  .search_container {
    width: 100%;
    justify-content: center;
  }
  #searchimg {
    right: 25%;
  }
  .content {
    width: 100%;
    height: 150px;
    padding: 10px;
  }
  #editableText {
    font-size: 12px;
  }
  #run {
    width: 25%;
    right: 2%;
    height: 20px;
    font-size: 10px;
  }

  header {
    height: auto;
    gap: 4px;
    padding: 10px;
  }

  #open-icon {
    top: 5px;
  }
  .title img {
    width: 100%;
  }
  .title p {
    font-size: 12px;
  }
  .container {
    width: 100%;
  }
  input {
    padding-left: 20px;
    font-size: 14px;
  }
  #searchimg {
    top: 15px;
    width: 20px;
    height: 20px;
  }
  .box {
    padding: 0px;
  }
  input {
    width: 60%;
  }

  .container_links {
    flex-direction: column;
  }

  .link1,
  .link2,
  .link3 {
    margin-bottom: 10px;
  }
  .link1 a,
  .link2 a,
  .link3 a {
    color: white;
  }
  #task-p {
    font-size: 12px;
  }
  .taskdiv {
    width: 80%;
    top: 100px;
  }
}
@media only screen and (max-width: 395px) {
  #task-p {
    font-size: 12px;
  }
  .taskdiv {
    width: 80%;
  }
}
