*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  margin: 20px auto;
}
main {
  width: 100%;
  margin: auto;
  height: 1200px;
  overflow: scroll;
  padding-bottom: 100px;
}
header {
  width: 100%;
  height: 130px;
  background: black;
  color: white;
  box-shadow: 0 5px 10px grey;
  display: flex;
  align-items: center;
}

.search_container {
  width: 100%;
  height: 100px;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}
input {
  position: relative;
  width: 30%;
  height: 50px;
  box-shadow: 0 5px 10px grey;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 30px;
  font-size: 18px;
}
#search {
  position: absolute;
  width: 30px;
  right: 50px;
}
span {
  color: rgb(229, 5, 5);
}

.box {
  position: relative;
  padding: 20px;
  width: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title h1 {
  font-size: 30px;
}
#button1 {
  width: 200px;
  height: 50px;
  border: none;
  background: green;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
#button1:hover {
  background: rgb(13, 169, 52);
}
.title img {
  width: 600px;
  height: 20%;
}
.title p {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.highlight {
  color: rgb(12, 50, 178);
}
.container_test {
  position: absolute;
  top: 35%;
  width: 50%;
  left: 48%;
  height: 30%;
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border: 10px solid rgb(109, 107, 107);
  background: black;
  padding: 20px 30px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
#run {
  position: absolute;
  width: 120px;
  height: 30px;
  right: 10px;
  bottom: 30px;
  border: none;
  outline: none;
  background: rgb(5, 22, 207);
  color: rgb(253, 253, 253);
  font-size: 14px;
  cursor: pointer;
}
#run:hover {
  background: rgb(176, 156, 156);
}
#editableText {
  /* Ushbu qismga direction va unicode-bidi stilini qo'shing */
  direction: ltr;
  unicode-bidi: bidi-override;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
  color: rgb(250, 250, 250);
  font-size: 20px;
}

footer {
  width: 100%;

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: black;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 968px) {
  input {
    width: 40%;
    height: 30px;
  }
  #search {
    width: 25px;
    height: 25px;
  }
  .title h1 {
    font-size: 22px;
  }
  .title p {
    font-size: 16px;
  }
  .title img {
    width: 400px;
  }
  #button1 {
    width: 150px;
    height: 30px;
  }
  .container_test {
    left: 45%;
    height: 20%;
  }
  footer {
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .search_container {
    height: 50px;
  }
  input {
    width: 50%;
    height: 30px;
  }
  .title h1 {
    font-size: 22px;
    max-width: 400px;
  }
  .title p {
    font-size: 16px;
  }
  .title img {
    width: 400px;
  }
  .container_test {
    left: 45%;
    height: 15%;
  }
  #run {
    width: 80px;
    height: 20px;
    font-size: 12px;
    bottom: 5px;
  }
  footer {
    height: 150px;
  }
}
@media screen and (max-width: 568px) {
  header h1 {
    font-size: 18px;
  }
  input {
    height: 30px;
    width: 60%;
  }
  .search_container {
    height: 30x;
  }
  .container_test {
    width: 70%;
    left: 25%;
    top: 35%;
  }
  #editableText {
    font-size: 12px;
  }
}
@media screen and (max-width: 468px) {
  .container_test {
    width: 90%;
    left: 20px;
    top: 30%;
    height: 20%;
  }
  #editableText {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .container_test {
    width: 80%;
    left: 10%;
  }
  .logo {
    display: none;
  }
  #editableText {
    font-size: 12px;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100px;
  }
  .logo {
    width: 100%;
    height: 20px;
  }
  .search_container {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
@media screen and (max-width: 368px) {
  .container_test {
    width: 90%;
    left: 20px;
    top: 30%;
    height: 20%;
  }
  header {
    flex-direction: column;
  }
}
