/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}
.container_all {
  max-width: 1920px;
  margin: auto;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  overflow-y: scroll;
  height: 600px;
}
main {
  width: 100%;
  height: 100vh;
}
header {
  position: relative;
  width: 100%;
  height: 130px;
  background: rgb(255, 255, 255);
  color: rgb(6, 6, 6);
  box-shadow: 0 5px 10px grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.search_container {
  position: relative;
  max-width: 900px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
input {
  width: 95%;
  height: 100%;
  box-shadow: 0 5px 10px grey;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 5px;
}
#searchimg {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: 10px;
}

.logo h1 {
  font-size: 1.5rem;
}

main {
  margin-top: 20px;
}

.title h1 {
  color: rgb(40, 150, 178);
  font-size: 20px;
}
.title h3 {
  min-width: 400px;
}
.title p {
  text-align: justify;
}
.container_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}

.link1,
.link2,
.link3 {
  flex-grow: 1;
  text-align: center;
}

.link1 a,
.link2 a,
.link3 a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
}

.link1:hover,
.link2:hover,
.link3:hover {
  border-bottom: 2px solid salmon;
  transition: all 0.5s ease;
}

.box {
  position: relative;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
}

.box img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#button1 {
  position: absolute;
  top: 10px;
  right: 10px;
}

footer {
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.content {
  display: none;
  height: 250px;
  width: 50%;
  margin: auto;
  background: rgb(0, 0, 0);
  padding: 20px 30px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  opacity: 0.9;
}
#run {
  position: absolute;
  width: 10%;
  height: 30px;
  right: 0;
  bottom: 10px;
  outline: none;
  background: rgb(12, 235, 5);
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#run:hover {
  background: rgb(176, 156, 156);
}
#editableText {
  /* Ushbu qismga direction va unicode-bidi stilini qo'shing */
  direction: ltr;
  unicode-bidi: bidi-override;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}
.highlight {
  color: rgb(49, 49, 240);
}
@media only screen and (max-width: 1600px) {
  .content {
    width: 60%;
  }
}
@media only screen and (max-width: 1280px) {
  .content {
    width: 70%;
  }
}
@media only screen and (max-width: 1145px) {
  .content {
    width: 75%;
  }
}
@media only screen and (max-width: 1040px) {
  .content {
    width: 80%;
  }
}
@media only screen and (max-width: 978px) {
  .content {
    width: 90%;
  }
}
/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .content {
    width: 95%;
    height: 200px;
  }
  header {
    flex-direction: column;
    height: auto;
  }

  .search_container {
    margin-top: 10px;
  }

  .container_links {
    flex-direction: column;
  }

  .link1,
  .link2,
  .link3 {
    margin-bottom: 10px;
  }
  #editableText {
    font-size: 14px;
  }
}
@media only screen and (max-width: 495px) {
  .content {
    width: 95%;
    height: 150px;
    padding: 10px;
  }
  #editableText {
    font-size: 12px;
  }
  #run {
    width: 25%;
    right: 2%;
    height: 20px;
    font-size: 10px;
  }
  header {
    background: black;
    color: white;
    flex-direction: column;
    height: auto;
  }
  .title img {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .box {
    padding: 0px;
  }
  .search_container {
    margin-top: 10px;
  }

  .container_links {
    flex-direction: column;
  }

  .link1,
  .link2,
  .link3 {
    margin-bottom: 10px;
  }
  .link1 a,
  .link2 a,
  .link3 a {
    color: white;
  }
}
