*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1920px;
  margin: 20px auto;
}
main {
  width: 100%;
  margin: auto;
  height: 1200px;
  overflow: scroll;
  padding-bottom: 100px;
}
header {
  width: 100%;
  height: 130px;
  background: black;
  color: white;
  box-shadow: 0 5px 10px grey;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.search_container {
  width: 100%;
  height: 50px;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}
input {
  position: relative;
  width: 30%;
  height: 50px;
  box-shadow: 0 5px 10px grey;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 30px;
  font-size: 18px;
}
#search {
  position: absolute;
  width: 30px;
  right: 50px;
}
span {
  color: rgb(45, 157, 94);
}

.box {
  position: relative;
  padding: 20px;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  padding: 10px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 20px;
}
.title h1 {
  font-size: 30px;
}
#button1 {
  width: 200px;
  height: 50px;
  border: none;
  background: rgb(24, 97, 4);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
#button1:hover {
  background: rgb(13, 169, 52);
}
.title img {
  max-width: 50%;
  border-radius: 10px;
}
.title p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  max-width: 800px;
}
.highlight {
  color: rgb(12, 50, 178);
}

.content {
  display: none;
  width: 50%;
  height: 300px;
  border: 10px solid rgb(109, 109, 107);
  background: rgb(6, 6, 6);
  padding: 20px 30px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 40%;
}
#run {
  position: absolute;
  width: 10%;
  height: 30px;
  right: 0;
  bottom: 0px;
  outline: none;
  border-radius: 5px;
  background: rgb(10, 75, 180);
  color: rgb(253, 253, 253);
  font-size: 14px;
  cursor: pointer;
}
#run:hover {
  background: rgb(176, 156, 156);
}
#editableText {
  /* Ushbu qismga direction va unicode-bidi stilini qo'shing */
  direction: ltr;
  unicode-bidi: bidi-override;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: auto;
  color: rgb(248, 248, 255);
  font-size: 20px;
  font-weight: bold;
}
.container_links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.link1 {
  width: 35%;
  text-align: center;
  height: 40px;
  box-shadow: 0 5px 10px grey;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.link2 {
  width: 30%;
  text-align: center;
  height: 40px;
  box-shadow: 0 5px 10px grey;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.link3 {
  width: 25%;
  text-align: center;
  height: 40px;
  box-shadow: 0 5px 10px grey;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.link1:hover {
  width: 45%;
}
#col1 {
}
.link2:hover {
  width: 45%;
}
.link3:hover {
  width: 45%;
}

.link1 a {
  color: black;
  font-size: 20px;
}
.link2 a {
  color: black;
  font-size: 20px;
}
.link3 a {
  color: black;
  font-size: 20px;
}
footer {
  width: 100%;

  height: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: black;
  color: white;
  padding: 20px;
}
/*medeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
@media screen and (max-width: 968px) {
  .content {
    height: 250px;
    top: 40%;
    width: 90%;
    margin: auto;
  }
  input {
    width: 50%;
  }
  .logo h1 {
    font-size: 25px;
  }
  #editableText {
    font-size: 18px;
  }
  .title img {
    max-width: 100%;
  }
  .container_links {
    margin-top: 10px;
  }
  .link1 a {
    font-size: 18px;
  }
  .link2 a {
    font-size: 18px;
  }
  .link3 a {
    font-size: 18px;
  }
  .link1 {
    width: 50%;
    height: 30px;
  }
  .link2 {
    width: 45%;
    height: 30px;
  }
  .link3 {
    width: 40%;
    height: 30px;
  }
  .link1:hover {
    width: 65%;
  }

  .link2:hover {
    width: 60%;
  }
  .link3:hover {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .content {
    top: 48%;
    height: 200px;
  }
  #editableText {
    font-size: 16px;
  }
  footer {
    height: 150px;
  }
  input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
  }
  #search {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 598px) {
  .content {
    top: 55%;
  }
}
@media screen and (max-width: 498px) {
  .content {
    top: 45%;
  }
  #editableText {
    font-size: 12px;
  }
  #run {
    width: 20%;
    bottom: -30px;
  }
  .title h1 {
    font-size: 20px;
  }
  .title p {
    font-size: 16px;
  }
  .title img {
    max-width: 100%;
    height: 100px;
  }
  .logo {
    display: none;
  }
  input {
    width: 100%;
  }
  footer {
    height: 120px;
  }
}

@media screen and (max-width: 394px) {
  .link1 a {
    font-size: 16px;
  }
  .link2 a {
    font-size: 16px;
  }
  .link3 a {
    font-size: 16px;
  }
  .link1 {
    width: 55%;
    height: 30px;
  }
  .link2 {
    width: 50%;
    height: 30px;
  }
  .link3 {
    width: 45%;
    height: 30px;
  }
  .link1:hover {
    width: 65%;
  }

  .link2:hover {
    width: 60%;
  }
  .link3:hover {
    width: 60%;
  }
  .content {
    height: 200px;
    top: 50%;
    width: 99%;
    margin: auto;
    padding: 10px 10px;
    right: 2px;
    border: 5px solid rgb(109, 109, 107);
    padding: 5px 10px;
    background: rgb(0, 0, 0);
  }
  #editableText {
    font-size: 11px;
  }
  .title img {
    max-width: 100%;
    height: 100px;
  }
  .box {
    padding: 0px;
  }
  #button1 {
    width: 100%;
  }
  footer {
    height: 100px;
  }
}
@media screen and (max-width: 368px) {
  .content {
    top: 55%;
  }
  input {
    width: 100%;
  }
}
